/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Montserrat', sans-serif;

  a {
    color: #000;

    &:hover {
      color: #666AF6;
    }
  }
}

.ant-btn:active, .ant-btn:focus, .ant-btn:hover {
  text-decoration: none;
}
.ant-btn:active {
  color: #fff;
}
.ant-btn:focus, .ant-btn:hover {
  background: #163072;
  color: white;
}

.ant-btn {
  color: white;
  position: relative;
  font-weight: 600;
  border: 0 none;
  background: #666AF6;
  border-radius: min(10px,0.833vw);
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  padding: min(13px,1.083vw) min(42px,3.500vw);
  height: auto;
}

.ant-tabs {
  height: 46px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #666AF6;
}

.ant-tabs-tab:hover {
  color: #666AF6;
}

.ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 0 none !important;
  z-index: 1000;
}

.ant-tabs-ink-bar {
 background: transparent;
}

.ant-tabs-bottom>.ant-tabs-nav::before, .ant-tabs-bottom>div>.ant-tabs-nav::before, .ant-tabs-top>.ant-tabs-nav::before, .ant-tabs-top>div>.ant-tabs-nav::before {
  border-bottom: 0 none;
}

.ant-form-item-explain-error {
  font-size: 12px;
  line-height: 15px;
}

@supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) {
  body {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@import "./app/pages/pages.main.component.scss";
